# Q1.

In [2]:
test1 = "This is a test of the emergency text system,"
fileObj = open('test.txt','w')
fileObj.write(test1)

44

# Q2.

In [3]:
fileObj2 = open('test.txt','r')
test2 = fileObj2.readline()
test2

'This is a test of the emergency text system,'

# Q3.

In [5]:
import csv
rows = [['title','author','year'],
       ['The Weirdstone of Brisingamen','Alan Garner',1960],
       ['Perdido Street Station','China Mieville',2000],
       ['Thud!','Terry Pratchett',2005],
       ['The Spellman Flies','Lisa Lutz',2007],
       ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

# Q4.

In [6]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute('create table books(title varchar(20),author varchar(20),year int)')
conn.commit()

# Q5.

In [7]:
import pandas as pd

df = pd.read_csv('books.csv',encoding ='unicode_escape')
df.to_sql('books',conn,if_exists = 'append',index = False)

# Q6.

In [8]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Flies',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

# Q7.

In [9]:
c.execute('select title, author,year from books order by year')


df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Mieville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Flies        Lisa Lutz  2007

# Q8.

In [10]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Mieville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Flies', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

# Q9.

In [1]:
!pip install redis

Requirement already satisfied: redis in c:\users\alish\anaconda3\lib\site-packages (3.5.3)

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

# Q10.

In [ ]:
conn.hincrby('test','count', 3)