# Q1.

The two values of boolean data type are True and False.
We use capital T and F with the rest of the word in lowercase while writing them.

# Q2.

The logical operators AND, OR and NOT are referred to as boolean operators.

# Q3.
 
# AND

True AND True is True.                                  
True AND False is False.                                   
False AND True is False.                           
False AND False is False.                         

# OR

True OR True is True.                
True OR False is True.                 
False OR True is True.                                                
False OR False is False.                              

# NOT

NOT True is False.                   
NOT False is True.

# Q4.

In [8]:
5 > 4 and 3 == 5    #TRUE AND FALSE IS FALSE.

False

In [9]:
not 5 > 4          # NOT TRUE IS FALSE.

False

In [10]:
5 > 4 or 3 == 5     #TRUE OR FALSE IS TRUE.

True

In [11]:
not 5 > 4 or 3 == 5   #FALSE OR FALSE IS FALSE

False

In [12]:
True and True and True == False   #TRUE AND FALSE IS FALSE.

False

In [13]:
not False or not True           #TRUE OR FALSE IS TRUE.

True

# Q5.

The six comparison operators are ==,!=,<,>,<= and >=.                
Comparison operators are also called as relational operators.                         
The result of these operators is always Boolean value, that is, either TRUE or FALSE.

In [2]:
#EXAMPLES
x=15
y=25
if x==y:                   #(==) operator to check if two operands are equal
    print('x is equal to y')
else:
    print('x is not equal to y')

x is not equal to y

In [3]:
if x!=y:                  ##(!=) operator to check if two operands are not equal.
    print('x is not equal to y')
else:
    print('x is equal to y')

x is not equal to y

In [4]:
if x<y:                   #(<) operator to check if first operand is smaller than the second operand.
    print('x is less than y')
else:
    print('x is not less than y')

x is less than y

In [5]:
if x>y:                   #(>) operator to check if first operand is greater than the second operand.
    print('x is greater than y')
else:
    print('x is not greater than y')

x is not greater than y

In [6]:
if x>=y:                   #(>=) operator to check if first operand is greater than or equal to second operand.
    print('x is greater than or equal to y')
else:
    print('x is not greater than or equal to y')

x is not greater than or equal to y

In [7]:
if x<=y:                   #(<=) operator to check if first operand is lesser than or equal to second operand.
    print('x is equal to or less than y')
else:
    print('x is not equal to or less than y')

x is equal to or less than y

# Q6. 

The ' == ' is a relational or comparison operator. It is used for comparing two values. It returns TRUE if both the values are equal otherwise returns FALSE.

In [24]:
#example
10==10

True

In [25]:
10==5

False

The ' = ' is an assignment operator. It is used to assign or store value to a variable.

In [27]:
#EXAMPLE
x=5    #5 is assigned to variable x
x

5

# Q7.

The three blocks are everything inside the if statement and the lines print('bacon') and print('ham').

A new block begins everytime you increase the indentation of the line, and ends just before the corresponding unindent.

In [9]:
spam= 0
if spam == 10:
    print('eggs')                          #INDENT INCREASED ,BLOCK A
    if spam > 5:                           #STILL BLOCK A
        print('bacon')                     #STILL BLOCK A ,INDENT INCREASED ,BLOCK B INSIDE A
    else:                                  #STILL BLOCK A, INDENT DECREASED, BLOCK B ENDED IN THE ABOVE LINE.
        print('ham')                       #STILL BLOCK A, INDENT INCREASED, BLOCK C INSIDE BLOCK A
    print('spam')                          #STILL BLOCK A, INDENT DECREASED, block c ended IN THE ABOVE LINE.
print('spam')                              #BLOCK A ENDED IN THE ABOVE LINE, INDEND DECREASED.

spam

# Q8.

In [10]:
#CODE IS
spam=int(input())

if spam==1:
    print('Hello')
elif spam==2:
    print('Howdy')
else:
    print('Greetings!')

2
Howdy

In [11]:
#0R
spam = input()

if spam == "1":
    print('Hello')
elif spam == "2":
    print('Howdy')
else:
    print('Greetings!')

5
Greetings!

# Q 9.

CTRL + C

# Q10. 

The BREAK STATEMENT exists from the loop and transfers the execution from the loop to the statement that is immediately following the loop.

In [9]:
#Example to show the use of break statement inside the loop .
for letter in "alisha": 
    if letter == "s": 
        break 
    print(letter) 
print("The end")

a
l
i
The end

In this program, we iterate through the "alisha" sequence. We check if the letter is "s", upon which we break from the loop. Hence, we see in our output that all the letters up till "s" gets printed. After that, the loop terminates.

The CONTINUE STATEMENT causes execution to immediately continue at the start of the loop, it skips the execution of the remaining body part of the loop.

In [12]:
#Example to show the use of continue statement inside the loop. 
for letter in "alisha": 
    if letter == "s": 
        continue 
    print(letter) 
print("The end")

a
l
i
h
a
The end

This program is same as the above example except the break statement has been replaced with continue. We continue with the loop, if the letter is "s", not executing the rest of the block. Hence, we see in our output that all the letters except "s" gets printed.

# Q11.

In [11]:
range(0,10)

range(0, 10)

In [55]:
range(10)

range(0, 10)

In [56]:
range(0,10,1)

range(0, 10)

We get the same answer for all. The range(10) calls ranges from 0 to 9 excluding 10. The range(0,10) clearly tells the loop to start from 0. The range(0,10,1) clearly tells the loop to increase the variable by 1 on each iteration.

# Q12.

In [12]:
#FOR LOOP
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
#WHILE LOOP
i=1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

# Q13.
import spam                 
spam.bacon().