# Q1.

In [1]:
def is_symmetrical(n):
        if str(n) == str(n)[::-1]:
            return True
        else:
            return False

print(is_symmetrical(7227))
print(is_symmetrical(12567))
print(is_symmetrical(44444444))
print(is_symmetrical(9939))
print(is_symmetrical(1112111))

True
False
True
False
True

# Q2.

In [2]:
def multiply_nums(str):
    str = str.replace(" ","")
    str = str.split(',')
    sum = 1
    for i in str:
        sum *= int(i)
    return sum

print(multiply_nums("2, 3"))
print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("54, 75, 453, 0"))
print(multiply_nums("10, -2"))

6
24
0
-20

# Q3.

In [3]:
def square_digits(n):
    z = ''.join(str(int(i)**2) for i in str(n))
    return int(z)

print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

# Q4.

In [4]:
def setify(list):
    new_list = []
    for i in list:
        if i not in new_list:
            new_list.append(i)
    return sorted(new_list)

print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

Using List Comprehension

In [5]:
def setify(list):
    new_list = []
    [new_list.append(i) for i in list if i not in new_list]
    return sorted(new_list)

print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

Using Set()

In [6]:
def setify(lst):
    new_list = list(set(lst))
    return new_list

print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

# Q5.

In [7]:
def mean(n):
    sum = 0
    for i in str(n):
        sum += int(i)
    return int(sum/len(str(n)))

print(mean(42))
print(mean(12345))
print(mean(666))

3
3
6